app/bt-config/
newfolder/
app/bt-config/GeoIPOrg.dat
app/bt-config/GeoLiteCity.dat
app/bt-config/bt-config.php
app/ballistictracking.komodoproject
app/bt-config/cache/column_meta
app/bt-config/logs/syslog
app/bt-config/cache
wurfl.log

*.iml
*.ipr
*iws
.idea/
