/*--[ Imports ]--------------------------------------------------------------------------------*/
/*--[ General Styles ]--------------------------------------------------------------------------------*/
img {
  max-width: 100%;
}
.col2-set {
  clear: both;
}
.col2-set:after {
  content: "";
  display: block;
  clear: both;
}
.col2-set .col-1 {
  width: 49%;
  float: left;
}
.col2-set .col-1:after {
  content: "";
  display: block;
  clear: both;
}
.col2-set .col-2 {
  width: 49%;
  float: right;
}
.col2-set .col-2:after {
  content: "";
  display: block;
  clear: both;
}
.form-row {
  width: 49%;
  float: left;
}
.form-row label {
  display: block;
}
.form-row .input-text,
.form-row select {
  width: 100%;
  *width: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-row input[type=checkbox] {
  float: left;
}
.form-row.notes {
  width: 100%;
  float: none;
}
.form-row.notes textarea {
  width: 100%;
  *width: 90%;
}
.form-row.notes + h3 {
  clear: both;
}
.form-row-first {
  clear: left;
}
.form-row-last {
  float: right;
}
.form-row-wide {
  float: left;
  width: 100%;
  clear: both;
}
header.title {
  overflow: hidden;
  zoom: 1;
}
header.title h1,
header.title h2,
header.title h3,
header.title h4,
header.title h5 {
  float: left;
}
header.title a.edit {
  float: right;
  font-size: 12px !important;
  text-transform: uppercase;
}
h1.page-title {
  margin-bottom: 15px;
}
p.demo_store {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1em 0;
  background: #ebdd75;
  color: #827513;
  z-index: 999999;
}
dl.variation {
  overflow: hidden;
  zoom: 1;
}
dl.variation dt {
  font-weight: bold;
  float: left;
  clear: left;
  margin-right: 2px;
}
dl.variation dd {
  float: left;
}
mark {
  background: none;
}
/*--[ Product Categories ]--------------------------------------------------------------------------------*/
.home ul.products {
  padding-top: 1.618em;
}
.home ul.products li {
  width: 22.05%;
  margin: 0 1.4% !important;
}
ul.products {
  margin: 0 0 1.5em 0;
  padding: 0;
  list-style: none;
}
ul.products:after {
  content: "";
  display: block;
  clear: both;
}
ul.products li {
  width: 30.75%;
  margin-right: 3.8%;
  float: left;
  text-align: center;
  margin-bottom: 2.5em;
  position: relative;
  list-style: none;
}
ul.products li.first {
  clear: left;
}
ul.products li.last {
  margin-right: 0;
}
ul.products li h3 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
}
ul.products li img {
  background: none;
  padding: 0;
}
ul.products li a {
  display: block;
}
ul.products li a img {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4%;
  background: #fff;
  height: auto;
  display: block;
  margin-bottom: .75em;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
ul.products li a:hover {
  text-decoration: none !important;
}
ul.products li a:hover img {
  border: 1px solid #ccc;
}
ul.products li .price {
  display: block;
}
ul.products li a.button {
  display: inline-block;
  margin-top: .5em;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  position: relative;
}
ul.products li a.button.loading {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
ul.products li a.button.loading:before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  top: 4px;
  right: -26px;
  text-indent: 0;
  background: url(../images/ajax-loader.gif) no-repeat;
}
ul.products li a.button.added:before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  top: 4px;
  right: -26px;
  text-indent: 0;
  background: url(../images/icons/ico-tick.png) no-repeat;
}
ul.products li del {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
ul.products li ins {
  text-decoration: none;
}
/*--[ Sale sticker ]--------------------------------------------------------------------------------*/
.onsale {
  padding: 2px 10px;
  text-align: center;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  color: white;
  font-weight: bold;
  position: absolute;
  background: #83b441;
  background: -webkit-gradient(linear, left top, left bottom, from(#83b441), to(#619220));
  background: -webkit-linear-gradient(#83b441, #619220);
  background: -moz-linear-gradient(center top, #83b441 0%, #619220 100%);
  background: -moz-gradient(center top, #83b441 0%, #619220 100%);
  border: 1px solid #407000;
  top: -6px;
  left: -6px;
  font-size: 12px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
}
/*--[ Breadcrumb ]--------------------------------------------------------------------------------*/
.breadcrumb {
  padding: 0 0 10px 0;
  margin-bottom: 2em;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
.breadcrumb .breadcrumb-title {
  font-weight: bold;
}
/*--[ Single Product ]--------------------------------------------------------------------------------*/
.woocommerce .images {
  width: 48.1%;
  margin-right: 3.8%;
  float: left;
}
.woocommerce .images img {
  width: 92%;
  padding: 4%;
  background: #fff;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.woocommerce .images img:hover {
  border-color: rgba(0, 0, 0, 0.2);
}
.woocommerce .images a {
  display: block;
  margin-bottom: .5em;
}
.woocommerce .images .thumbnails {
  overflow: hidden;
  zoom: 1;
}
.woocommerce .images .thumbnails a {
  float: left;
  width: 30.75%;
  margin-right: 3.8%;
}
.woocommerce .images .thumbnails a .last {
  margin-right: 0;
}
.woocommerce .images .thumbnails a .first {
  clear: left;
}
.woocommerce .summary {
  width: 48.1%;
  float: right;
  margin-bottom: 1.5em;
}
.woocommerce .summary form {
  margin-bottom: 1.5em;
}
.woocommerce .summary p {
  margin-bottom: 1.5em;
}
.woocommerce .summary p.price {
  font-weight: bold;
  padding: .5em 0;
}
.woocommerce .summary p.price del {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.woocommerce .summary p.price ins {
  text-decoration: none;
  padding-left: .5em;
}
.woocommerce .summary .single_variation .price {
  font-weight: bold;
  font-size: 2em;
  display: block;
  line-height: 1.5em;
}
.woocommerce .summary table.group_table .out-of-stock {
  display: block;
  color: #900;
}
.woocommerce table.variations {
  border: 0;
}
.woocommerce table.variations th,
.woocommerce table.variations td {
  padding: 5px 10px 5px 0;
  border: 0;
  border-bottom: 1px solid #ddd;
}
.woocommerce table.variations tr td:first-child {
  padding-left: 0;
}
.woocommerce table.variations tr:last-child td {
  border-bottom: 0;
}
.woocommerce table.variations.shop_attributes th,
.woocommerce table.variations.shop_attributes td {
  padding: .5em 1em;
  vertical-align: middle;
}
.woocommerce table.variations.shop_attributes th p:last-child,
.woocommerce table.variations.shop_attributes td p:last-child {
  margin-bottom: 0 !important;
}
.woocommerce .related h2 {
  margin: 0 0 1.5em;
}
.woocommerce .woocommerce_tabs,
.woocommerce .woocommerce-tabs {
  clear: both;
  background: #fff;
  margin-bottom: 20px;
  border: 0;
}
.woocommerce .woocommerce_tabs ul.tabs,
.woocommerce .woocommerce-tabs ul.tabs {
  overflow: hidden;
  zoom: 1;
  list-style: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIHWO4e/fufwAIyQOX7mu4cAAAAABJRU5ErkJggg==) bottom repeat-x;
  /* 1px transparent png */

  padding: 0;
  margin: 0 0 1.5em 0;
}
.woocommerce .woocommerce_tabs ul.tabs li,
.woocommerce .woocommerce-tabs ul.tabs li {
  float: left;
  margin-right: 2px;
}
.woocommerce .woocommerce_tabs ul.tabs li a,
.woocommerce .woocommerce-tabs ul.tabs li a {
  display: inline-block;
  padding: .5em 1em;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #ddd;
  background: #f6f6f6;
}
.woocommerce .woocommerce_tabs ul.tabs li a:hover,
.woocommerce .woocommerce-tabs ul.tabs li a:hover {
  border-bottom: 1px solid #fff;
  background: #fff;
}
.woocommerce .woocommerce_tabs ul.tabs li.active a,
.woocommerce .woocommerce-tabs ul.tabs li.active a {
  background: #fff;
  border-bottom: 1px solid #fff;
}
.woocommerce .woocommerce_tabs p,
.woocommerce .woocommerce-tabs p,
.woocommerce .woocommerce_tabs h2,
.woocommerce .woocommerce-tabs h2 {
  margin-bottom: 1.5em;
}
.woocommerce .woocommerce_tabs .panel,
.woocommerce .woocommerce-tabs .panel {
  margin-bottom: 3em;
}
.woocommerce .woocommerce_tabs #comments,
.woocommerce .woocommerce-tabs #comments {
  border: 0;
  margin: 0;
  padding: 0;
}
.woocommerce .product_meta {
  padding: .5em 0;
  border-top: 1px solid #ddd;
  margin-bottom: 1.5em;
}
.woocommerce .social {
  text-align: right;
}
.woocommerce .social iframe {
  float: left;
}
.woocommerce #main div.product {
  position: relative;
}
.woocommerce.layout-full .related,
.woocommerce.layout-full .upsells {
  width: 45%;
  padding: 2%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.025);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.woocommerce.layout-full .related h2,
.woocommerce.layout-full .upsells h2 {
  margin-bottom: .5em;
}
.woocommerce.layout-full .related {
  float: left;
}
.woocommerce.layout-full .upsells {
  float: right;
}
.woocommerce.layout-full .upsells ul {
  float: left;
  width: 100%;
  margin: 0;
}
/*--[ Reviews ]--------------------------------------------------------------------------------*/
#reviews h2 {
  margin-bottom: .75em;
}
#reviews #comments {
  background: none;
}
#reviews #comments .comment.thread-even {
  background: none;
  border-bottom: 0;
}
#reviews .commentlist {
  margin-bottom: 20px;
}
#reviews .comment.bypostauthor {
  background: none;
  border: 0;
}
#reviews .comment_container {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
#reviews img.avatar {
  width: 3.85%;
  padding: .5%;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  float: left;
}
#reviews .comment-text {
  width: 91.35%;
  float: right;
}
#reviews .comment-text p:last-child {
  margin-bottom: 0;
}
#fancybox-outer {
  padding: 20px;
}
/*--[ Messages and Alerts ]--------------------------------------------------------------------------------*/
.woocommerce_message,
.woocommerce_error,
.woocommerce-message,
.woocommerce-error {
  margin: 10px 0 20px 0;
  padding: 9px 10px 9px 50px;
  overflow: hidden;
  zoom: 1;
  clear: left;
}
.woocommerce_error,
.woocommerce-error {
  border-top: 1px solid #f0baa2;
  border-bottom: 1px solid #f0baa2;
  background: #ffd9c8 url(../images/icons/ico-alert.png) no-repeat 20px 13px;
}
.woocommerce_message,
.woocommerce-message {
  border-top: 1px solid #d4ebaf;
  border-bottom: 1px solid #d4ebaf;
  background: #edfcd5 url(../images/icons/ico-tick.png) no-repeat 20px 13px;
}
.woocommerce_message .button,
.woocommerce-message .button {
  float: right;
  margin: 0;
  margin-top: -3px;
  margin-bottom: -3px;
}
/*--[ Widgets ]--------------------------------------------------------------------------------*/
.widget ul.product_list_widget {
  list-style: none;
  padding: 25px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.15);
}
.widget ul.product_list_widget li {
  clear: left;
  overflow: hidden;
  zoom: 1;
  margin-bottom: .5em;
  padding-left: 0;
  background: none;
}
.widget ul.product_list_widget li a {
  display: block;
  padding-left: 0;
}
.widget ul.product_list_widget li img {
  float: right;
  margin: 0 0 .5em .5em;
  padding: 3px;
  background: #fff;
  width: 32px;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e6e6e6 !important;
}
.widget ul.product_list_widget li .star-rating {
  float: none;
  margin-bottom: .25em;
}
.widget ul.product_list_widget li del {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.widget ul.product_list_widget li ins {
  text-decoration: none;
}
.widget_login {
  padding: 25px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.15);
  background: #f0f0f0;
  margin-right: 2px;
}
.widget_login h3 {
  display: none;
}
.widget_login ul.pagenav {
  background: none;
  padding: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.widget_subscribe_to_newsletter {
  overflow: hidden;
  zoom: 1;
}
.widget_subscribe_to_newsletter #newsletter_email {
  width: 69%;
  float: left;
}
.widget_subscribe_to_newsletter #newsletter_subscribe {
  padding-right: 7px;
  float: right;
  overflow: visible;
}
.widget_shopping_cart ul.cart_list {
  background: #F0F0F0;
  border: 1px solid #ddd;
  border-bottom: 0;
  padding: 25px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.widget_shopping_cart ul.cart_list li {
  background: none;
}
.widget_shopping_cart ul.cart_list li.empty {
  padding: 0 25px 25px 25px;
  margin: 0 -25px -25px -25px;
  border-bottom: 1px solid #ddd;
}
.widget_shopping_cart p.total {
  background: #e9e9e9;
  border: 1px solid #ddd;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.035);
  -webkit-box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.035);
  -moz-box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.035);
}
.widget_shopping_cart .buttons {
  border: 1px solid #ddd;
  border-top: 1px solid #fff;
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e9e9e9));
  background: -webkit-linear-gradient(#f6f6f6, #e9e9e9);
  background: -moz-linear-gradient(center top, #f6f6f6 0%, #e9e9e9 100%);
  background: -moz-gradient(center top, #f6f6f6 0%, #e9e9e9 100%);
  text-align: center;
  padding: 20px 25px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.widget_price_filter .ui-state-default,
.widget_price_filter .ui-widget-content .ui-state-default,
.widget_price_filter .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6;
  font-weight: normal;
  color: #555555;
}
.widget_price_filter .ui-state-hover,
.widget_price_filter .ui-widget-content .ui-state-hover,
.widget_price_filter .ui-widget-header .ui-state-hover,
.widget_price_filter .ui-state-focus,
.widget_price_filter .ui-widget-content .ui-state-focus,
.widget_price_filter .ui-widget-header .ui-state-focus {
  border: 1px solid #999999;
  background: #dadada;
  font-weight: normal;
  color: #212121;
}
.widget_price_filter .ui-state-active,
.widget_price_filter .ui-widget-content .ui-state-active,
.widget_price_filter .ui-widget-header .ui-state-active {
  border: 1px solid #aaaaaa;
  background: #ffffff;
  font-weight: normal;
  color: #212121;
}
.widget_price_filter .ui-corner-all {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}
.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  border: 1px solid #aaaaaa;
  background: #ffffff;
  color: #222222;
}
.widget_price_filter .price_slider_wrapper .ui-widget-header {
  border: 1px solid #aaaaaa;
  background: #cccccc;
  color: #222222;
  font-weight: bold;
}
.widget_price_filter .ui-slider-horizontal {
  height: .8em;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-handle {
  top: -0.3em;
  margin-left: -0.6em;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.widget_price_filter .price_slider {
  border: 0 !important;
  background: rgba(0, 0, 0, 0.1) !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0 12px 1.5em;
}
.widget_price_filter .ui-widget-header {
  border: 0 !important;
  background: rgba(0, 0, 0, 0.1) !important;
}
.widget_price_filter .ui-slider-handle {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.widget_price_filter .price_slider_amount {
  text-align: right;
  line-height: 2.5em;
}
.widget_price_filter .price_slider_amount .button {
  float: left;
}
.widget_layered_nav ul {
  list-style: none;
  margin-left: 0;
}
.widget_layered_nav ul li {
  overflow: hidden;
  zoom: 1;
}
.widget_layered_nav ul li a {
  float: left;
  padding-left: 0;
}
.widget_layered_nav ul li .count {
  float: right;
  line-height: 16px;
  padding: 0 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #999999;
  background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#bbbbbb));
  background: -webkit-linear-gradient(#999999, #bbbbbb);
  background: -moz-linear-gradient(center top, #999999 0%, #bbbbbb 100%);
  background: -moz-gradient(center top, #999999 0%, #bbbbbb 100%);
  color: #fff;
  min-width: 20px;
  text-align: center;
  border: 1px solid #fff;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 1px 0 #777;
}
.widget_layered_nav ul li.chosen a {
  padding-left: 18px;
  background: url(../images/icons/cross.png) left no-repeat;
}
#searchform #searchsubmit {
  display: block;
  float: right;
  height: 35px;
  width: 35px;
  background: url(../images/icons/ico-search.png) no-repeat;
  text-indent: -999em;
  border: 0;
  margin-right: 6px;
  cursor: pointer;
}
/*--[ Quantity incrementer ]--------------------------------------------------------------------------------*/
.quantity {
  overflow: hidden;
  zoom: 1;
  width: 96px;
  margin-bottom: .5em;
  /* Disable input[type=number] buttons until the world is ready */

}
.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  display: none;
}
.quantity input.qty {
  width: 20px;
  padding: 5px 10px;
  font-size: 14px !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #e6e6e6;
  border-right: 0;
  border-left: 0;
  text-align: center;
  float: left;
  z-index: 10;
}
.quantity .plus,
.quantity .minus {
  width: 28px;
  text-align: center;
  padding: 5px 0;
  font-size: 14px !important;
  border: 1px solid #ccc;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
  background: -webkit-linear-gradient(#ffffff, #e6e6e6);
  background: -moz-linear-gradient(center top, #ffffff 0%, #e6e6e6 100%);
  background: -moz-gradient(center top, #ffffff 0%, #e6e6e6 100%);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  float: left;
  z-index: 20;
}
.quantity .plus:hover,
.quantity .minus:hover {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f6f6f6));
  background: -webkit-linear-gradient(#ffffff, #f6f6f6);
  background: -moz-linear-gradient(center top, #ffffff 0%, #f6f6f6 100%);
  background: -moz-gradient(center top, #ffffff 0%, #f6f6f6 100%);
}
.quantity .plus {
  float: right;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.quantity .minus {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/*--[ Buttons ]-------------------------------------------------------------------------------------*/
button.button,
input.button {
  display: inline-block;
  margin: 5px;
  padding: 5px 13px;
  border: 1px solid #4081af;
  border-bottom-color: #20559a;
  color: white !important;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-size: 1em !important;
  font-family: inherit;
  cursor: pointer;
  /*Border radius*/

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /*Background*/

  background: #3585B3;
  /*Fallback*/

  /*Box shadow*/

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 0 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 0 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.29);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 0 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.29);
}
button.button:hover,
input.button:hover {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}
/*--[ Star ratings ]--------------------------------------------------------------------------------*/
.star-rating {
  float: right;
  width: 80px;
  height: 16px;
  background: url(../images/icons/star.png) repeat-x left 0;
}
.star-rating span {
  background: url(../images/icons/star.png) repeat-x left -32px;
  height: 0;
  padding-top: 16px;
  overflow: hidden;
  float: left;
}
p.stars {
  overflow: hidden;
  zoom: 1;
}
p.stars span {
  width: 80px;
  height: 16px;
  position: relative;
  float: left;
  background: url(../images/icons/star.png) repeat-x left 0;
}
p.stars span a {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 0;
  padding-top: 16px;
  overflow: hidden;
}
p.stars span a:hover,
p.stars span a:focus {
  background: url(../images/icons/star.png) repeat-x left -16px;
}
p.stars span a.active {
  background: url(../images/icons/star.png) repeat-x left -32px;
}
p.stars span a.star-1 {
  width: 16px;
  z-index: 10;
}
p.stars span a.star-2 {
  width: 32px;
  z-index: 9;
}
p.stars span a.star-3 {
  width: 48px;
  z-index: 8;
}
p.stars span a.star-4 {
  width: 64px;
  z-index: 7;
}
p.stars span a.star-5 {
  width: 80px;
  z-index: 6;
}
/* Sidebar / footer stars */
#sidebar .star-rating,
#footer-widgets .star-rating {
  width: 60px;
  height: 12px;
  background: url(../images/icons/star-small.png) repeat-x left 0;
  margin-top: 2px;
}
#sidebar .star-rating span,
#footer-widgets .star-rating span {
  background: url(../images/icons/star-small.png) repeat-x left -24px;
  padding-top: 12px;
}
#sidebar p.stars span,
#footer-widgets p.stars span {
  width: 60px;
  height: 12px;
  background: url(../images/icons/star-small.png) repeat-x left 0;
}
#sidebar p.stars span a,
#footer-widgets p.stars span a {
  width: 12px;
  padding-top: 12px;
}
/*--[ Tables ]--------------------------------------------------------------------------------*/
table {
  width: 100%;
  border: 1px solid #ddd;
  border-right: 0;
  border-bottom: 0;
  margin-bottom: 1.5em;
  border-collapse: separate;
}
table th,
table td {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
table th {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
  background: -webkit-linear-gradient(#ffffff, #eeeeee);
  background: -moz-linear-gradient(center top, #ffffff 0%, #eeeeee 100%);
  background: -moz-gradient(center top, #ffffff 0%, #eeeeee 100%);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
table td {
  vertical-align: top;
}
table td.actions {
  background: #f6f6f6;
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.025);
  -webkit-box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.025);
}
/*--[ The cart ]--------------------------------------------------------------------------------*/
table.cart img {
  width: 32px;
  height: auto;
}
table.cart td.actions {
  text-align: right;
}
table.cart td.actions .coupon {
  float: left;
}
.cart-collaterals:after {
  content: "";
  display: block;
  clear: both;
}
.cart-collaterals .cart_totals,
.cart-collaterals .shipping_calculator {
  width: 56.75%;
  float: right;
}
.cart-collaterals .shipping_calculator {
  clear: right;
}
.cart-collaterals .cross-sells {
  float: left;
  width: 39.45%;
}
.cart-collaterals .cross-sells ul.products li {
  width: 48%;
}
.cart-collaterals .cross-sells ul.products li img {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
#shipping_method {
  padding: 0;
  margin: 0;
}
#shipping_method li {
  list-style: none;
}
.cart_totals select {
  width: 100%;
}
/*--[ Product Ordering ]--------------------------------------------------------------------------------*/
.woocommerce_ordering,
woocommerce-ordering {
  padding: 10px 0 5px;
  text-align: center;
  border-top: 1px solid #D6DEE5;
}
.woocommerce-result-count,
.woocommerce_ordering,
.woocommerce-ordering {
  width: 50%;
  float: left;
  margin-bottom: 1.5em;
}
.woocommerce-result-count + ul.products,
.woocommerce_ordering + ul.products,
.woocommerce-ordering + ul.products {
  clear: both;
}
.woocommerce-ordering {
  float: right;
  text-align: right;
}
/*--[ The Checkout ]--------------------------------------------------------------------------------*/
#shiptobilling {
  float: right;
  margin-bottom: 0;
}
#shiptobilling input {
  float: left;
}
.woocommerce-checkout .login {
  background: #f6f6f6;
  overflow: hidden;
  zoom: 1;
  padding: 25px 25px 0 25px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5em;
}
.woocommerce-checkout form.checkout .col-1,
.woocommerce-checkout form.checkout .col-2 {
  padding: 2%;
  width: 44%;
  border: 1px solid #ddd;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #fafafa;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.025);
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.025);
  margin: 3px;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  margin-bottom: 1.5em;
}
.woocommerce-checkout form.checkout .col-1:hover,
.woocommerce-checkout form.checkout .col-2:hover {
  background: #fff;
}
.create-account {
  float: left;
}
.payment_methods {
  margin: 0 0 1.5em 0 !important;
  padding: 0 !important;
  list-style: none !important;
}
.payment_methods li {
  list-style: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px 0;
}
.payment_methods li img {
  float: right;
  padding: 0 !important;
  border: none !important;
}
.payment_methods li .payment_box {
  padding: 5px 10px;
  margin-top: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.025);
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.025);
  border: 1px solid #ddd;
  background: #fafafa;
}
.payment_methods li .payment_box p {
  margin: 0;
}
.payment_methods li .payment_box fieldset {
  padding: 10px;
  border-top: 1px solid #ddd;
  margin-top: 10px;
}
.payment_methods li .payment_box fieldset .form-row-first,
.payment_methods li .payment_box fieldset .form-row-last {
  margin-bottom: 10px;
}
.payment_methods li .payment_box fieldset .form-row-first:last-child,
.payment_methods li .payment_box fieldset .form-row-last:last-child {
  margin-bottom: 0;
}
.payment_box fieldset {
  margin-bottom: 0;
}
.payment_box .form-row .woocommerce-select {
  width: 30.75%;
  float: left;
  margin-right: 3.8%;
}
.payment_methods + .form-row {
  width: 100%;
}
.payment_methods + .form-row #place_order {
  float: right;
  margin-right: 0;
}
.payment_methods + .form-row label {
  display: inline;
}
.payment_methods + .form-row input {
  float: left;
}
.required {
  color: red;
}
/*--[ User Account ]--------------------------------------------------------------------------------*/
.woocommerce-account dl {
  margin-bottom: 10px;
}
.woocommerce-account mark {
  background: none;
}
.woocommerce-account table.my_account_orders .button {
  margin: 0;
}
.woocommerce-account .addresses address {
  clear: both;
}
